
<div class="grid grid-cols-1 sm:flex flex-col items-center justify-center p-2 shadow-xl min-h-screen bg-[url('assets/fondo.svg')] bg-cover bg-center w-full">
    
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="flex flex-col gap-4 border border-gray-300 px-10 py-5 bg-white rounded-2xl w-auto" >
      <h1 class="text-4xl font-semibold mt-5">Registrate</h1>
      <p class="text-md mt-2 pb-2">Crea una cuenta para empezar a hacer tu voluntariado.</p>

      <!-- Name-->
       <div class="grid grid-cols-1 sm:flex flex-row gap-5">
      <label class="flex flex-col">
        <input formControlName="name" type="text" class="mt-1 p-2 border border-black rounded-md" placeholder="Nombre" required>
        @if (isFieldValid('name')){
          <div class="text-red-500 text-sm">
            Debe ingresar un nombre.
          </div>
        }
      </label>

      <!-- LastName-->
       
      <label class="grid grid-cols-1 sm:flex flex-col">
        <input formControlName="lastName" type="text" class="mt-1 p-2 border border-black rounded-md" placeholder="Apellidos" required>
        @if(isFieldValid('lastName')){
          <div class="text-red-500 text-sm">
            Debe ingresar un apellido.
          </div>
        }
      </label>
    </div>
    
      <div class=" grid grid-cols-1 sm:flex flex-row gap-5">
      <!-- Age-->
      <label class="flex flex-col">
        <input formControlName="age" type="number" class="mt-1 p-2 border border-black rounded-md" placeholder="Ingresa tu edad" min="0" required>
        @if(isFieldValid('age')){
          <div class="text-red-500 text-sm">
            Debe ingresar una edad valida.
          </div>
        }
      </label>
      
      <!-- Phone-->
      <label class="flex flex-col">
        <input formControlName="phone" type="tel" class="mt-1 p-2 border border-black rounded-md" 
              placeholder="Ingresa tu número de teléfono" 
              pattern="[0-9]{9,15}" 
              title="Debe contener entre 9 y 15 dígitos numéricos" required>
              @if(isFieldValid('phone')){
                <div class="text-red-500 text-sm">
                  Debe ser un numero valido.
                </div>
              }
      </label>
    </div>
      
      <!-- Address-->
      <label class="flex flex-col">
        <input formControlName="address" type="text" class="mt-1 p-2 border border-black rounded-md" 
              placeholder="Ingresa tu dirección" 
              maxlength="100" 
              required>
              @if(isFieldValid('address')){
                <div class="text-red-500 text-sm">
                  Debe ingresar una dirección valida.
                </div>
              }
      </label>
      
      <!-- Email-->
      <label class="flex flex-col">
        <input formControlName="email" type="email" class="mt-1 p-2 border border-black rounded-md" placeholder="Correo Electrónico" required>
        @if(isFieldValid('email')){
          <div class="text-red-500 text-sm">
            Debe ingresar un correo valido.
          </div>
        }
      </label>
    
      <!-- Password-->
      <label class="flex flex-col">
        <input formControlName="password" type="password" class="mt-1 p-2 border border-black rounded-md" placeholder="Contraseña" required>
        @if(isFieldValid('password')){
          <div class="text-red-500 text-sm">
            Debe ingresar una contraseña.
          </div>
        }
      </label>

      <!-- ConfirmarPassword-->
      <label class="flex flex-col">
        <input formControlName="confirmPassword" type="password" class="mt-1 p-2 border border-black rounded-md" placeholder="Confirmar Contraseña" required>
        @if(isFieldValid('confirmPassword')){
          <div class="text-red-500 text-sm">
            Debe confirmar la contraseña.
          </div>
        }
      </label>

      <label class="flex flex-col">
          <select formControlName="userType" class="mt-1 p-2 border border-black rounded-md" required>
            <option value="" disabled selected>Selecciona si eres Organizacion o Voluntario</option>
            <option value="organizacion">Organizacion</option>
            <option value="voluntario">Voluntario</option>
          </select>
          @if(isFieldValid('userType')){
            <div class="text-red-500 text-sm">
              Debe seleccionar uno.
            </div>
          }
      </label>

      <p class="text-md">¿Ya tienes una cuenta? <a href="/login" class="text-blue-600 inline ml-2 text-md">Inicia sesión</a></p>
      <button type="submit" class="mt-4 p-2 bg-[#00765a] text-white rounded-md cursor-pointer">Registrarse</button>

      <!--

      <div class="flex items-center my-4">
        <div class="flex-grow border-t border-gray-300"></div>
        <span class="mx-4 text-gray-500">o</span>
        <div class="flex-grow border-t border-gray-300"></div>
      </div>

      <button class="flex items-center justify-center p-2 bg-white border border-gray-300 rounded-lg shadow-md hover:shadow-lg focus:outline-none">
        <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 48 48" class="w-6 h-6 mr-2">
          <path fill="#fbc02d" d="M43.611,20.083H42V20H24v8h11.303c-1.649,4.657-6.08,8-11.303,8c-6.627,0-12-5.373-12-12	s5.373-12,12-12c3.059,0,5.842,1.154,7.961,3.039l5.657-5.657C34.046,6.053,29.268,4,24,4C12.955,4,4,12.955,4,24s8.955,20,20,20	s20-8.955,20-20C44,22.659,43.862,21.35,43.611,20.083z"></path>
          <path fill="#e53935" d="M6.306,14.691l6.571,4.819C14.655,15.108,18.961,12,24,12c3.059,0,5.842,1.154,7.961,3.039	l5.657-5.657C34.046,6.053,29.268,4,24,4C16.318,4,9.656,8.337,6.306,14.691z"></path>
          <path fill="#4caf50" d="M24,44c5.166,0,9.86-1.977,13.409-5.192l-6.19-5.238C29.211,35.091,26.715,36,24,36	c-5.202,0-9.619-3.317-11.283-7.946l-6.522,5.025C9.505,39.556,16.227,44,24,44z"></path>
          <path fill="#1565c0" d="M43.611,20.083L43.595,20L42,20H24v8h11.303c-0.792,2.237-2.231,4.166-4.087,5.571	c0.001-0.001,0.002-0.001,0.003-0.002l6.19,5.238C36.971,39.205,44,34,44,24C44,22.659,43.862,21.35,43.611,20.083z"></path>
        </svg>
        <span class="text-gray-500 hover:text-gray-700 font-semibold">Registrarse con Google</span>
      </button> -->
      
    </form>
  </div>
