
<button class="px-4 py-2 bg-green-600 text-white rounded" (click)="toggleModal()">Login</button>

@if (isModalOpen) {
  <div class="fixed inset-0 flex items-center justify-center bg-[#00765a] bg-opacity-50">
    <div class="bg-white p-6 rounded-2xl shadow-lg w-[90%] max-w-[400px] max-h-[92vh] overflow-y-auto relative">
      <button class="absolute top-3 right-3 text-gray-500 hover:text-gray-700 text-3xl" (click)="toggleModal()">
        &times;
      </button>

      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="flex flex-col gap-4">
        <h1 class="text-4xl font-semibold mt-5">Regístrate</h1>
        <p class="text-md mt-2 pb-2">Crea una cuenta para empezar a hacer tu voluntariado.</p>

        <!-- Nombre y Apellidos -->
        <div class="grid grid-cols-1 sm:grid-cols-2 gap-5">
          <div class="flex flex-col">
            <input formControlName="name" type="text" class="mt-1 p-2 border border-black rounded-md" placeholder="Nombre" required>
            @if (isFieldValid('name')) {
              <div class="text-red-500 text-sm">
                @if (registerForm.get('name')?.hasError('required')) {
                  El nombre es requerido.
                }
                @if (registerForm.get('name')?.hasError('minlength')) {
                  El nombre debe tener al menos 3 caracteres.
                }
              </div>
            }
          </div>

          <div class="flex flex-col">
            <input formControlName="lastName" type="text" class="mt-1 p-2 border border-black rounded-md" placeholder="Apellidos" required>
            @if (isFieldValid('lastName')) {
              <div class="text-red-500 text-sm">
                @if (registerForm.get('lastName')?.hasError('required')) {
                  El apellido es requerido.
                }
                @if (registerForm.get('lastName')?.hasError('minlength')) {
                  El apellido debe tener al menos 3 caracteres.
                }
              </div>
            }
          </div>
        </div>

        <!-- Edad y Teléfono -->
        <div class="grid grid-cols-1 sm:grid-cols-2 gap-5">
          <div class="flex flex-col">
            <input formControlName="age" type="number" class="mt-1 p-2 border border-black rounded-md" placeholder="Ingresa tu edad" min="0" required>
            @if (isFieldValid('age')) {
              <div class="text-red-500 text-sm">
                @if (registerForm.get('age')?.hasError('required')) {
                  La edad es requerida.
                }
                @if (registerForm.get('age')?.hasError('min')) {
                  Debes ser mayor de 18 años.
                }
                @if (registerForm.get('age')?.hasError('pattern')) {
                  La edad debe ser un número válido.
                }
              </div>
            }
          </div>

          <div class="flex flex-col">
            <input formControlName="phone" type="tel" class="mt-1 p-2 border border-black rounded-md" placeholder="Ingresa tu número de teléfono" required>
            @if (isFieldValid('phone')) {
              <div class="text-red-500 text-sm">
                @if (registerForm.get('phone')?.hasError('required')) {
                  El número de teléfono es requerido.
                }
                @if (registerForm.get('phone')?.hasError('pattern')) {
                  El número de teléfono debe contener entre 9 y 15 dígitos.
                }
              </div>
            }
          </div>
        </div>

        <!-- Dirección -->
        <div class="flex flex-col">
          <input formControlName="address" type="text" class="mt-1 p-2 border border-black rounded-md" placeholder="Ingresa tu dirección" maxlength="100" required>
          @if (isFieldValid('address')) {
            <div class="text-red-500 text-sm">
              @if (registerForm.get('address')?.hasError('required')) {
                La dirección es requerida.
              }
              @if (registerForm.get('address')?.hasError('minlength')) {
                La dirección debe tener al menos 10 caracteres.
              }
            </div>
          }
        </div>

        <!-- Email -->
        <div class="flex flex-col">
          <input formControlName="email" type="email" class="mt-1 p-2 border border-black rounded-md" placeholder="Correo Electrónico" required>
          @if (isEmailInvalid()) {
            <div class="text-red-500 text-sm">
              @if (registerForm.get('email')?.hasError('required')) {
                El correo electrónico es requerido.
              }
              @if (registerForm.get('email')?.hasError('email')) {
                Debe ingresar un correo válido.
              }
            </div>
          }
        </div>

        <!-- Contraseña -->
        <div class="flex flex-col">
          <input formControlName="password" type="password" class="mt-1 p-2 border border-black rounded-md" placeholder="Contraseña" required>
          @if (isFieldValid('password')) {
            <div class="text-red-500 text-sm">
              @if (registerForm.get('password')?.hasError('required')) {
                La contraseña es requerida.
              }
              @if (registerForm.get('password')?.hasError('minlength')) {
                La contraseña debe tener al menos 8 caracteres.
              }
            </div>
          }
        </div>

        <!-- Confirmar Contraseña -->
        <div class="flex flex-col">
          <input formControlName="confirmPassword" type="password" class="mt-1 p-2 border border-black rounded-md" placeholder="Confirmar Contraseña" required>
          @if (isConfirmPasswordInvalid()) {
            <div class="text-red-500 text-sm">
              @if (registerForm.get('confirmPassword')?.hasError('required')) {
                Debe confirmar la contraseña.
              }
              @if (registerForm.hasError('passwordMismatch')) {
                Las contraseñas no coinciden.
              }
            </div>
          }
        </div>

        <div class="flex flex-col">
          <select formControlName="userType" class="mt-1 p-2 border border-black rounded-md" required>
            <option value="" disabled selected>Selecciona si eres Organización o Voluntario</option>
            <option value="organizacion">Organización</option>
            <option value="voluntario">Voluntario</option>
          </select>
          @if (isFieldValid('userType')) {
            <div class="text-red-500 text-sm">
              Debe seleccionar un tipo de usuario.
            </div>
          }
        </div>

        <p class="text-md text-gray-700">¿Ya tienes una cuenta? <a href="/login" class="text-blue-600 inline ml-2 text-md font-semibold">Inicia sesión</a></p>
        <button type="submit" class="mt-4 p-2 bg-[#00765a] text-white rounded-md cursor-pointer">Registrarse</button>
      </form>
    </div>
  </div>
}