<header class="w-full h-20 flex flex-row justify-center bg-emerald-800 absolute items-center z-50">
  <nav class="flex justify-center items-center">
    <ul class="flex justify-center items-center flex-row gap-20">
      <li class="text-xl text-white font-semibold hover:text-gray-400"><a href="">Inicio</a></li>
      <li class="text-xl text-white font-semibold hover:text-gray-400"><a href="">About us</a></li>
      <li class="text-xl text-white font-semibold hover:text-gray-400"><a href="">Contact</a></li>
      <button (click)="onSignIn()" class="bg-emerald-500 font-semibold text-white px-6 py-2 rounded-full hover:bg-emerald-600 transition-colors">Sign in</button>
    </ul>
  </nav>
</header>
