<div class="flex h-screen gap-12 justify-center items-center">
  <div class="">
    <div class="flex flex-row gap-10 relative">
      <div class="flex flex-col justify-evenly">
        <div class="flex flex-col gap-4 items-start">
          <div class="inline-block bg-white text-emerald-700 px-4 py-2 rounded-full font-medium">
            Welcome To
          </div>
          <h1 class="text-white text-6xl font-bold leading-tight">
            Give Hand
          </h1>
          <p class="text-emerald-100 text-xl">
            Connect with hands to help and release hearts
          </p>
        </div>
        <get-started-now-button [size]="SizeType.LARGE"/>
      </div>
      <div class="p-4 border-4 rounded-full border-emerald-800">
        <img src="https://img.freepik.com/free-vector/stop-racism-illustration-concept_23-2148581679.jpg"
          alt="hands image" class="w-80 h-80 rounded-full">
      </div>
    </div>
  </div>
</div>
