<div class="px-5 text-white py-10 w-full bg-[rgba(255,255,255,.1)]">
<div class="w-full flex flex-col md:flex-row gap-5 md:gap-0 justify-between mb-5">
  <div class="w-full md:w-1/4">
    <h1 class="text-2xl font-bold mb-5">Give Hands</h1>
    <p>Únete a nosotros y cambia vidas. ¡Juntos, marcamos la diferencia!</p>
  </div>
  <div class="w-full md:w-1/4">
    <h1 class="text-2xl font-bold mb-5">Enlaces rápidos</h1>
    <div class="flex flex-col gap-3">
      <a href="#" class="hover:text-gray-500 transition-all duration-300">Volver al Inicio</a>
      <a href="#" class="hover:text-gray-500 transition-all duration-300">Acerca de Nosotros</a>
      <a href="#" class="hover:text-gray-500 transition-all duration-300">Contáctanos</a>
    </div>
  </div>
  <div class="w-full md:w-1/4">
    <h1 class="text-2xl font-bold mb-5">Contáctanos</h1>
    <div class="flex flex-col gap-3">
      <p>givehand&#64;volunteers.com</p>
      <p>+593 979 336 159</p>
    </div>
  </div>
</div>
<hr>
<div class="w-full flex flex-row justify-between items-center mt-5">
  <p>© 2025 Give Hands. Derechos reservados</p>
  <div class="flex flex-row gap-10">
    <a href="#">Políticas de privacidad</a>
    <a href="#">Términos del servicio</a>
  </div>
</div>
</div>
