<div class="px-5 text-white py-10 w-full bg-[rgba(255,255,255,.1)]">
<div class="w-full flex flex-col md:flex-row justify-between mb-5">
  <div class="w-full md:w-1/4">
    <h1 class="text-2xl font-bold mb-5">Give Hands</h1>
    <p>Join us and change lives with your help. Together, we make a difference!</p>
  </div>
  <div class="w-full md:w-1/4">
    <h1 class="text-2xl font-bold mb-5">Quick Links</h1>
    <div class="flex flex-col gap-3">
      <a href="#" class="hover:text-gray-500 transition-all duration-300">Back to top</a>
      <a href="#" class="hover:text-gray-500 transition-all duration-300">About us</a>
      <a href="#" class="hover:text-gray-500 transition-all duration-300">Contact us</a>
    </div>
  </div>
  <div class="w-full md:w-1/4">
    <h1 class="text-2xl font-bold mb-5">Contact Us</h1>
    <div class="flex flex-col gap-3">
      <p>givehand&#64;volunteers.com</p>
      <p>+xx x (xxx) xxxxxxx</p>
    </div>
  </div>
</div>
<hr>
<div class="w-full flex flex-row justify-between items-center mt-5">
  <p>© 2025 Give Hands. All rights reserved</p>
  <div class="flex flex-row gap-10">
    <a href="#">Privacy Policy</a>
    <a href="#">Terms of Service</a>
  </div>
</div>
</div>
