<main-navbar></main-navbar>

  <div class="w-screen h-full px-2 py-3 flex flex-row">
    <aside class="w-1/4 p-4 bg-white shadow-md rounded-sm">
      <div class="flex flex-col items-center">
        <img src="./icons/profile.svg" alt="Avatar" class="w-32 h-32 rounded-full mb-4">
        <h2 class="text-xl font-semibold">{{user()?.name | titlecase }} {{user()?.lastname | titlecase }} </h2>
        <p class="text-gray-600">{{user()?.preference}}</p>
        <p class="text-sm text-gray-500">{{user()?.address?.country}}, {{user()?.address?.city}}</p>
      </div>
      <a [routerLink]="user()?.user?.rol === 'ORGANIZATION' ? '/main/organization-profile/' + user()?.organizationId : '/main/volunteer-profile/' + user()?.volunteerId"
      class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mt-4 block text-center">
        Ir a perfil
      </a>
      
      <div class="mt-6">
        <h3 class="text-lg font-semibold mb-2">Proyectos</h3>
        <p class="text-sm text-gray-700">ONU ha publicado un nuevo proyecto</p>
        <p class="text-xs text-gray-500">Hace 12 horas</p>
      </div>
    </aside>

    <main class="flex-1 p-4">
      <div class="bg-white rounded-lg shadow-md p-4 mb-4">
        <textarea placeholder="Start a post" class="w-full border p-2 mb-2 resize-none"></textarea>
        <div class="flex justify-between">
          <div>
            <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Media</button>
            <button class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded ml-2">Event</button>
          </div>
          <button class="bg-indigo-500 hover:bg-indigo-700 text-white font-bold py-2 px-4 rounded">VOLUNTEER</button>
        </div>
      </div>

      <div class="bg-white rounded-lg shadow-md p-4">
        @defer (on viewport) {
          @for (project of projects(); track $index) {
            <project-card [project]="project" />
          }
        } @placeholder {
          <span>cargando</span>
        }
      </div>
    </main>
  </div>
