<div class="mt-8 w-screen pb-8">
  <form [formGroup]="miFormulario" (ngSubmit)="onSubmit()">
    <div class="formulario-perfil">
      <h2 class="introform">Completa tu perfil para empezar esta experiencia</h2>
      <h2 class="tipoform">Voluntario</h2>
      <h1 class="sub-campos">Campos obligatorios<span class="required">*</span></h1>
      <br>
      <div class="contenedor-columnas">
        <div class="campos-obligatorios">

          <label for="names">Names<span class="required">*</span></label>
          <div class="input-container">
            <input type="text" id="names" formControlName="names" />
            <span *ngIf="miFormulario.get('names')?.invalid && formSubmitted" class="error-message">
              <span *ngIf="miFormulario.get('names')?.errors?.['required']">Campo requerido</span>
            </span>
          </div>

          <label for="surnames">Surnames<span class="required">*</span></label>
          <div class="input-container">
            <input type="text" id="surnames" formControlName="surnames" />
            <span *ngIf="miFormulario.get('surnames')?.invalid && formSubmitted" class="error-message">
              <span *ngIf="miFormulario.get('surnames')?.errors?.['required']">Campo requerido</span>
            </span>
          </div>

          <label for="birthday">Birthday<span class="required">*</span></label>
          <div class="input-container">
            <input type="date" id="birthday" formControlName="birthday" />
            <span *ngIf="miFormulario.get('birthday')?.invalid && formSubmitted" class="error-message">
              <span *ngIf="miFormulario.get('birthday')?.errors?.['required']">Campo requerido</span>
            </span>
          </div>

          <label for="country">Country<span class="required">*</span></label>
          <div class="input-container">
            <select id="country" formControlName="country">
              <option value="ecuador">Ecuador</option>
            </select>
            <span *ngIf="miFormulario.get('country')?.invalid && formSubmitted" class="error-message">
              <span *ngIf="miFormulario.get('country')?.errors?.['required']">Campo requerido</span>
            </span>
          </div>

          <label for="province">Province<span class="required">*</span></label>
          <div class="input-container">
            <select id="province" formControlName="province">
              <option value="guayas">Guayas</option>
            </select>
            <span *ngIf="miFormulario.get('province')?.invalid && formSubmitted" class="error-message">
              <span *ngIf="miFormulario.get('province')?.errors?.['required']">Campo requerido</span>
            </span>
          </div>

          <label for="city">City<span class="required">*</span></label>
          <div class="input-container">
            <select id="city" formControlName="city">
              <option value="guayaquil">Guayaquil</option>
            </select>
            <span *ngIf="miFormulario.get('city')?.invalid && formSubmitted" class="error-message">
              <span *ngIf="miFormulario.get('city')?.errors?.['required']">Campo requerido</span>
            </span>
          </div>

          <label for="volunteer-preference">Volunteer <span class="required">*</span> <br> preference</label>
          <div class="input-container">
            <input type="text" id="volunteer-preference" formControlName="volunteerPreference" />
            <span *ngIf="miFormulario.get('volunteerPreference')?.invalid && formSubmitted" class="error-message">
              <span *ngIf="miFormulario.get('volunteerPreference')?.errors?.['required']">Campo requerido</span>
            </span>
          </div>

          <label for="skills">Skills</label>
          <textarea id="skills" formControlName="skills"></textarea>
        </div>

        <div class="columna-derecha">
          <div class="avatar">
            <label for="avatar-upload">
              <img [src]="avatarPreview || 'tu-avatar.jpg'" alt="Avatar" />
              <span class="upload-message">Selecciona tu foto de perfil</span>
            </label>
            <input type="file" id="avatar-upload" accept="image/*" (change)="onFileChange($event)" style="display: none;" />
          </div>
          <div class="informacion-no-publica">
            <h1>Información no pública (solo tú la verás)</h1>
            <br>
            <div class="info-novisible">

              <label for="phone">Phone<span class="required">*</span></label>
              <div class="input-container">
                <input class="nopublic_input" type="tel" id="phone" formControlName="phone" />
                <span *ngIf="miFormulario.get('phone')?.invalid && formSubmitted" class="error-message">
                  <span *ngIf="miFormulario.get('phone')?.errors?.['required']">Campo Requerido</span>
                </span>
              </div>

              <label for="address">Address<span class="required">*</span></label>
              <div class="input-container">
                <input class="nopublic_input" type="text" id="address" formControlName="address" />
                <span *ngIf="miFormulario.get('address')?.invalid && formSubmitted" class="error-message">
                  <span *ngIf="miFormulario.get('address')?.errors?.['required']">Campo Requerido.</span>
                </span>
              </div>

              <label for="zip-code">Zip Code</label>
              <input class="nopublic_input" type="text" id="zipCode" formControlName="zipCode" />
            </div>
          </div>
        </div>
      </div>
      <div class="contenedor-guardar">
        <button type="submit" class="guardar">Guardar</button>
      </div>
    </div>
  </form>
</div>