<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
</head>
<body>
  <header class="px-4 w-full flex flex-row justify-between items-center bg-white">
    <div class="flex flex-row items-center">
      <img src="./images/logo.svg" class="w-24" alt="logo-image">
      <h1 class="text-4xl">Give <span class="text-emerald-800">Hands</span></h1>
    </div>
    <form class="flex flex-row items-center justify-center border-2 w-20 md:w-96 border-gray-500 rounded-3xl overflow-hidden">
      <img src="./icons/search.svg" class="w-12" alt="search-ico">
      <input type="text" class="outline-0 placeholder:text-2xl w-full" placeholder="Search">
    </form>
    <div class="hidden md:flex flex-row gap-3">
      <a href="#" class="flex flex-col items-center">
        <img src="./icons/network.svg" class="w-12" alt="network-ico">
        <span>Networks</span>
      </a>
      <a href="#" class="flex flex-col items-center">
        <img src="./icons/bell.svg" class="w-12" alt="bell-ico">
        <span>Notifications</span>
      </a>
      <button class="w-14 h-14 bg-blue-400 cursor-pointer hover:bg-blue-300 transition-all duration-200 rounded-full relative flex justify-center items-center">
        <span class="text-3xl">G</span>
        <img src="./icons/arrow-down.svg" class="w-5 absolute bottom-0 right-1" alt="arrow-down-ico">
      </button>
    </div>
  </header>
  
  <div class="mt-8 pb-8">
  <form [formGroup]="miFormulario" (ngSubmit)="onSubmit()">
  
      <div class="formulario-perfil">
        <h2 class="introform">Completa tu perfil para empezar esta experiencia</h2>
        <h2 class="tipoform">Voluntario</h2>
        <h1 class="sub-campos">Campos obligatorios<span class="required">*</span></h1>
        <br>
        <div class="contenedor-columnas">
          <div class="campos-obligatorios">
           
            <label for="names">Names<span class="required">*</span></label>
            <input type="text" id="names" />
    
            <label for="surnames">Surnames<span class="required">*</span></label>
            <input type="text" id="surnames" />
    
            <label for="birthday">Birthday<span class="required">*</span></label>
            <input type="date" id="birthday" />
    
            <label for="country">Country<span class="required">*</span></label>
            <select id="country">
              <option value="ecuador">Ecuador</option>
            </select>
    
            <label for="province">Province<span class="required">*</span></label>
            <select id="province">
              <option value="guayas">Guayas</option>
            </select>
    
            <label for="city">City<span class="required">*</span></label>
            <select id="city">
              <option value="guayaquil">Guayaquil</option>
            </select>
    
            <label for="volunteer-preference">Volunteer <br> preference</label>
            <input type="text" id="volunteer-preference" />
    
            <label for="skills">Skills</label>
            <textarea id="skills"></textarea>
          </div>
    
          <div class="columna-derecha">
              <div class="avatar">
                  <label for="avatar-upload">
                    <img [src]="avatarPreview || 'tu-avatar.jpg'" alt="Avatar" />
                    <span class="upload-message">Selecciona tu foto de perfil</span>
                  </label>
                  <input type="file" id="avatar-upload" accept="image/*" (change)="onFileChange($event)" style="display: none;" />
                </div>
            <div class="informacion-no-publica">

            <h1>Información no pública (solo tú la verás)</h1>
            <br>
            <div class="info-novisible">
              <label for="phone">Phone<span class="required">*</span></label>
              <input class="nopublic_input" type="tel" id="phone" />
         
          
              <label for="address">Address<span class="required">*</span></label>
              <input class="nopublic_input" type="text" id="address" />
          
         
              <label for="zip-code">Zip Code</label>
              <input class="nopublic_input" type="text" id="zip-code" />
            </div>
               
           
            </div>
            
          </div>
         
        </div>
       
        <div class="contenedor-guardar">
          <button class="guardar">Guardar</button>
        </div>
      </div>
     
    </form>
</div>

</body>
</html>

